:root {
	--clr-primary-100: hsl(7, 99%, 70%);
	--clr-primary-200: hsl(51, 100%, 49%);
	--clr-primary-400: hsl(167, 40%, 24%);
	--clr-primary-500: hsl(198, 62%, 26%);
	--clr-primary-700: hsl(168, 34%, 41%);

	--clr-neutral-200: hsl(210, 4%, 67%);
	--clr-neutral-300: hsl(232, 10%, 55%);
	--clr-neutral-400: hsl(213, 9%, 39%);
	--clr-neutral-500: hsl(212, 27%, 19%);

	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);

	--ff-primary: 'Fraunces', serif;
	--ff-secondary: 'Barlow', sans-serif;

	// stage
	--ff-heading: var(--ff-primary);
	--nav-link: var(--clr-white);
	--bg-btn-nav-link: var(--clr-white);
	--ff-btn-link: var(--ff-primary);

	--main-heading: var(--clr-white);
}

// RESET
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--ff-secondary);
}

img {
	display: block;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

// main css
h1,
h2,
h3 {
	font-family: var(--ff-heading);
}

h1 {
	margin-block: clamp(6rem, 10vw, 9rem);
	font-size: clamp(3.6rem, 10vw, 5.4rem);
	font-weight: 900;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: var(--main-heading);

	@media (max-width: 18.75em) {
		font-size: 3rem;
	}
}

// header
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: 1.5em;
	padding-bottom: clamp(8.25em, 25vw, 21em);

	text-align: center;

	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position: center;

	@media (min-width: 47.5em) {
		padding-inline: 2.5em;
		background-image: url('../images/desktop/image-header.jpg');
	}
}

// navigation
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2em;
	width: 100%;

	&__burger-btn {
		padding: 0.5em;
		background: none;
		border: none;
		cursor: pointer;

		@media (min-width: 47.5em) {
			display: none;
		}
	}

	&__links {
		display: none;

		@media (min-width: 47.5em) {
			display: flex;
		}
	}

	&__link {
		display: block;
		padding: 1em 1.5em;
		font-size: 1.8rem;
		font-weight: 600;
		text-decoration: none;
		color: var(--nav-link);

		&--btn {
			--nav-link: var(--clr-black);

			padding-inline: 2em;
			margin-left: 1.5em;
			font-family: var(--ff-btn-link);
			text-transform: uppercase;
			background-color: var(--clr-white);
			border-radius: 50em;
		}
	}
}
